/* setmystyle */
.DarkMode{
    background-color: black;
    color: white;
   
}
/* mystyle */
.lightmode{  
    background-color: white ;
    color: black;
   
}

/* Textbox.css */
.showMessage {
    display: block;
    background-color: #f0f0f0;
    padding: 5px;
    margin-top: 10px;
}

.hideMessage {
    display: none;
}

/* Textbox.css */
#myBox{
    border: 3px solid #ccc;
}
.container{
    background-color: darkgrey;
    color: black;
}

